<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rest.bef.befrestexample">

    <!--change following using your app package name-->
    <permission
        android:name="rest.bef.befrestexample.permission.PUSH_SERVICE"
        android:protectionLevel="signature" />
    <uses-permission android:name="rest.bef.befrestexample.permission.PUSH_SERVICE" />

    <!--Used Only In Checks In Sleeps-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--remove permission example-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" tools:node="remove" />-->

    <application
        android:name=".ApplicationLoader"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ActivityMain"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivityAdvanced"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SignupActivity" />

        <receiver
            android:name=".MStaticPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="rest.bef.broadcasts.ACTION_BEFREST_PUSH" />
            </intent-filter>
        </receiver>

        <!--used only in checkes in sleep-->
        <receiver
            android:name="rest.bef.WakeupAlarmReceiver"
            android:exported="false" />

        <!--<service android:name="rest.bef.PushService" />-->
        <!--<receiver-->
        <!--android:name="rest.bef.BefrestConnectivityChangeReceiver"-->
        <!--android:enabled="false">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->
        <service android:name=".CustomPushService" />

    </application>

</manifest>
