<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rest.bef.befrestdemo">

    <!--change following using your app package name-->
    <permission
        android:name="rest.bef.befrestdemo.permission.PUSH_SERVICE"
        android:protectionLevel="signature" />
    <uses-permission android:name="rest.bef.befrestdemo.permission.PUSH_SERVICE" />

    <!--Used Only In Checks In Sleeps-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
    <!--<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />-->

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--remove permission example-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" tools:node="remove" />-->

    <application
        android:name=".ApplicationLoader"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name=".ActivityMain"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ActivityPvChat"/>

        <activity android:name=".SignupActivity" />
        <activity android:name=".ActivitySettings"/>

        <service android:name=".CustomPushService" />

        <provider
            android:exported="false"
            android:name=".database.ChatContentProvider"
            android:authorities="rest.bef.befrestdemo.chat.contentprovider" />

        <!--<service android:name="rest.bef.PushService" />-->
        <!--<receiver-->
        <!--android:name="rest.bef.BefrestConnectivityChangeReceiver"-->
        <!--android:enabled="false">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

    </application>

</manifest>
